<header>
  <div class="header-logo">
    <a href="/">Pinoy Nest</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">What is Pinoy Nest</a>
    </li>
  </ul>
</header>

<% topics =  ["投稿一覧ページ作成中！",
"Railsでpinoy nest作るよ" ] %>

<div class="main topics-index">
  <div class="container">
  <% topics.each do |topic| %>
    <div class="topics-index-item">
     <%= topic %>
     </div>
     <% end %>
  </div>
</div>
