<header>
  <div class="header-logo">
    <a href="/">Pinoy Nest</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">What is Pinoy Nest</a>
    </li>
  </ul>
</header>

<div class="main topics-index">
  <div class="container">
    <div class="topics-index-item">
      Railsでpinoy nest作るよ
    </div>
    <div class="topics-index-item">
      投稿一覧ページ作成中！
    </div>
  </div>
</div>
