<header>
  <div class="header-logo">
    <a href="/">Pinoy Nest</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">What is Pinoy Nest</a>
    </li>
  </ul>
</header>

<div class="main topics-index">
  <div class="container">
  <h1>Listen My Topic！!!</h1>
  <h2><%= link_to "write your topic" ,new_topic_path %></h2>
  <% @topics.each do |topic| %>
    <div class="topics-index-item">
      <p><%= topic.title%></p>
      <p><%= simple_format (topic.content)%></p>
     </div>
     <% end %>
  </div>
</div>


